﻿@using System.Globalization
@model List<Yemek>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">


<head>
    @section MetaTags {

        @{
            var sehir = ViewBag.SelectedCity;
            var tarih = DateTime.Now.ToString("dd MMM yyyy ", new System.Globalization.CultureInfo("tr-TR"));
        }

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="@($"{sehir} KYK yurtlarında bugün hangi yemekler var? {tarih} tarihli KYK yemek listesi ile sabah ve akşam menüsünü öğrenin!")">
        <meta name="keywords"
              content="KYK yemek listesi, KYK yemek menüsü, kyk yemek listesi bugün, günlük yemek menüsü, kyk yemek, KYK yurt yemekleri">
        <title>@($"{sehir} KYK Yemek Listesi Bugün | kykyemeklistesi.com.tr")</title>
        <meta name="google-adsense-account" content="ca-pub-5290089711270021">
    }
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/styles.css" rel="stylesheet" />


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
            crossorigin="anonymous"></script>

</head>




<body>
    <div class="container mt-5">
        <form method="get" action="/Home/Bugunyemeklistesi">

            <div class="mb-4 sehirsec">
                <span class="mx-2 fw-bolder"> Şehrini Seç </span>
                <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
                        crossorigin="anonymous"></script>
                <!-- tasarım2 -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5290089711270021"
                     data-ad-slot="1279353303" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>



                <select class="form-select-sm px-3" name="selectedCity" onchange="this.form.submit()">
                    @foreach (var item in ViewBag.City as List<SelectListItem>)
                    {
                        if (item.Selected)
                        {
                            <option value="@item.Value" selected>@item.Text</option>

                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>

                        }
                    }
                </select>

            </div>

        </form>
    </div>
    <div class="col-12">
        <h2 class="my-3 mb-5 text-lg-center"> @ViewBag.SelectedCity KYK Yemek Menüsü</h2>

    </div>

    <div class="container-xl ">
        @{
            int sayac = 0;
        }
        <div class="row mb-5">

            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3 me-4">
                    <div  class="m-1 text-center p-5 rounded-2 me-3 w-100 h-100">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
                                crossorigin="anonymous"></script>
                        <!-- dikey reklaö -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-5290089711270021"
                             data-ad-slot="1779227351"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>

                bool istoday = item.Day.ToLongDateString() == DateTime.Now.Date.ToLongDateString();
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 ms-4 mb-2">
                    <div class="card-container me-4 align-c">
                        <div class="row @(istoday ? "today-meal " : "") ">



                            <div class="tarih">@item.Day.ToString("d MMMM dddd yyyy")</div>

                            <div class="col-md-6 p-0">



                                <div class="card card-container-left shadow-sm border-0 bg-primary h-100">




                                    <div class="card-body">

                                        <h2 class=" fw-bold text-dark">Sabah</h2>
                                        <hr>
                                        <ul class="list-group list-group-flush fs-5 mb-3 gap-2">
                                            @if (!string.IsNullOrEmpty(item.SabahYemekListesi))
                                            {


                                                @foreach (var sabahyemek in item.SabahYemekListesi.Split('\n'))
                                                {


                                                    <li class="list-group-item border-0 text-bg-primary text-dark fw-bolder">
                                                        @sabahyemek.Trim().ToString()
                                                    </li>


                                                }
                                            }
                                            else
                                            {
                                                <li class="list-group-item border-0 text-bg-primary text-dark fw-bolder">
                                                    <span>Ürün Daha Eklenmedi</span>
                                                </li>

                                            }

                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 p-0">
                                <div class="card card-container-right  text-bg-secondary shadow-sm border-0 h-100">

                                    <div class="card-body">
                                        <h2 class="fw-bold"> Akşam</h2>
                                        <hr>
                                        <ul class="list-group list-group-flush fs-5 mb-3 gap-2">
                                            @if (!string.IsNullOrEmpty(item.SabahYemekListesi))
                                            {
                                                @foreach (var Aksamyemek in item.AksamYemekListesi.Split('\n'))
                                                {

                                                    <li class="list-group-item border-0 text-bg-secondary fw-bold">
                                                        @Aksamyemek.Trim().ToString()
                                                    </li>
                                                }
                                            }


                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                </div>



                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-3 ms-3">
                    <div   class="m-1 text-center p-5 rounded-2 me-3 w-100 h-100">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
                                crossorigin="anonymous"></script>
                        <!-- dikey reklaö -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-5290089711270021"
                             data-ad-slot="1779227351"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>

            }

        </div>
        <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
                crossorigin="anonymous"></script>
        <!-- tasarım2 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5290089711270021"
             data-ad-slot="1279353303" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- Yandex.RTB R-A-13651345-1 -->
        <div id="yandex_rtb_R-A-13651345-1"></div>
        <script>
            window.yaContextCb.push(() => {
                Ya.Context.AdvManager.render({
                    "blockId": "R-A-13651345-1",
                    "renderTo": "yandex_rtb_R-A-13651345-1"
                })
            })
        </script>
</body>

</html>
