@using System.Globalization
@using Kykyemeklistesi.Controllers
@model List<Yemek>
<!DOCTYPE html>
<html lang="tr">

@{
    var sehir = ViewBag.SelectedCity;
 }
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-5290089711270021">
    <meta name="description" content="KYK yemek listesi ile yurtlardaki öğrenciler için günlük yemek menülerini görüntüleyin. Sabah ve akşam yemeklerini takip edin, duyuruları kaçırmayın.">
    <meta name="keywords" content="KYK yemek listesi, KYK yemek menüsü, öğrenci yemek listesi, günlük yemek menüsü, KYK duyuruları, KYK yurt yemekleri">
    <title>@($"{sehir} - KYK Yemek Menüsü - kykyemeklistesi.com.tr")</title>

    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-20V1RRPVZ1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-20V1RRPVZ1');
    </script>
    @*     <title>KYK Yemek Menüsü - kykyemeklistesi.com.tr</title>
 *@
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
    crossorigin="anonymous"></script>

</head>


 


<body>
    <div class="container mt-5">
        <form method="get" action="/Home/Index">

            <div class="mb-4 sehirsec d-flex justify-content-center">
                <span class="mx-2 fw-bolder"> Şehrini Seç </span>

<div class="me-2"> <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
     crossorigin="anonymous"></script>
<!-- tasarım2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5290089711270021"
     data-ad-slot="1279353303"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
               
                <select class="form-select-sm px-3" name="selectedCity" onchange="this.form.submit()">
                    @foreach (var item in ViewBag.City as List<SelectListItem>)
                    { 
                        if (item.Selected)
                        {
                            <option value="@item.Value" selected>@item.Text</option>

                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>

                        }
                    }
                </select>

            </div>

        </form>


    </div>

<div class="row p-2">
<div class="col-2 d-flex justify-content-center align-items-center">
    <div> @if(User.Identity.IsAuthenticated)
{
   
    <a  href="@Url.Action("ExportToExcel", "User", new { selectedCity = ViewBag.SelectedCity })" class="btn btn-success pdfexcel">
        <i class="fa-regular fa-file-excel pdfexcel-text"></i> <p class="fw-bolder pdfexceltext">Excel İle İndir</p>
    </a>


    <a href="@Url.Action("ExportToPdf", "User", new { selectedCity = ViewBag.SelectedCity })" class="btn btn-danger pdfexcel">
        <i class="fa-regular fa-file-pdf pdfexcel-text"></i> <p class="fw-bolder pdfexceltext">PDF İle İndir</p>

    </a>
}</div>

  
</div>
<div class="col-10">
    <h1 class="my-3 mb-5 text-lg-center">  @ViewBag.SelectedCity KYK Yemek Menüsü</h1>

 </div>
</div>

 <section class="d-flex justify-content-center align-items-center h-100 min-vh-100">
    <div class="container-xl">
        <div class="row mb-5 gy-4">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
     crossorigin="anonymous"></script>
<!-- Reklam -->



                @{
                    int sayac = 0;
                }
            @foreach (var item in Model)
            {

         
               
                bool istoday = item.Day.ToLongDateString() == DateTime.Now.Date.ToLongDateString();
                <div class="col-xl-4 col-lg-12  col-sm-12">
                    <div class="card-container me-4 ">
                        <div class="row @(istoday ? "today-meal " : "") ">




                                <div class="tarih">@item.Day.ToString("d MMMM dddd yyyy")</div>
                                <div class="col-md-6 col-sm-6 p-0">


                                
                                <div class="card card-container-left custom-card shadow-sm border-0 bg-primary h-100">

                                    <div class="card-body">

                                        <h2 class=" fw-bold text-dark">Sabah</h2>
                                        <hr>
                                        <ul class="list-group list-group-flush fs-5 mb-3 gap-2">
                                            @if (!string.IsNullOrEmpty(item.SabahYemekListesi))
                                            {


                                                    @foreach (var sabahyemek in item.SabahYemekListesi.Split('\n'))
                                                {


                                                    <li class="list-group-item border-0 text-bg-primary text-dark fw-bolder">@sabahyemek.Trim().ToString()</li>
                                                        sayac++;

                                                }
                                                   

                                                                                            }
                                            else
                                            {
                                                <li class="list-group-item border-0 text-bg-primary text-dark fw-bolder"> <span>Ürün Daha Eklenmedi</span></li>
                                                    

                                            }
                                               
                                        </ul>
                                                                   </div>
                                                                    <nav aria-label="breadcrumb" class="bg-info">
    <ol class="breadcrumb m-0 d-flex flex-row-reverse bg-text-info">
<div class="btn btn-info p-0 bg-text-info"> <span class="text-light">0</span> <i class="fa-regular fa-face-smile-beam fs-4 text-light"></i></div>
<div class="btn btn-info p-0 ms-5 bg-text-"> <span class="text-light">0</span> <i class="fa-regular fa-face-frown fs-4 text-light"></i></div>
<span class="text-light ">Kalori:@item.SabahCalorie</span>



    </ol>
    
 </nav>
    


                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 p-0">
                                <div class="card card-container-right custom-card  text-bg-secondary shadow-sm border-0 h-100">
 
                                    <div class="card-body">
                                        <h2 class="fw-bold"> Akşam</h2>
                                        <hr>
                                        <ul class="list-group list-group-flush fs-5 mb-3 gap-2">
                                            @if (!string.IsNullOrEmpty(item.AksamYemekListesi))
                                            {
                                                    @foreach (var Aksamyemek in item.AksamYemekListesi.Split('\n'))
                                                {

                                                    <li class="list-group-item border-0 text-bg-secondary fw-bold">@Aksamyemek.Trim().ToString()</li>
                                                        
                                                }
                                                   
                                            }

                                           
                                        </ul>
                                    </div>
                                     
                                        <nav aria-label="breadcrumb-right" class="bg-info">
                                   
    <ol class="breadcrumb m-0 d-flex flex-row bg-text-info">
<div class="btn btn-info p-0 ms-1 me-5 bg-text-info"> <span class="text-light">0</span> <i class="fa-regular fa-comments fs-4 text-light"></i></div>

 <span class="d-flex d-inline-block ms-1 text-light">Kalori:@item.AksamCaloriee</span>


    </ol>
 </nav>
                                    
                                
                                </div>
                                 
                            </div>

                            
 

                        </div>

                    </div>
 

                </div>

                   

                    if (sayac % 3 == 0)
                    {

                        <div style="margin:5px 5px; text-align: center; border: 2px solid black; padding: 50px; border-radius: 15px; height:662px; width:403px;">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5290089711270021"
                                    crossorigin="anonymous"></script>
                            <!-- dikey reklam -->
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:403px;height:662px"
                                 data-ad-client="ca-pub-5290089711270021"
                                 data-ad-slot="1779227351"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>

                    }
               
            }

        </div>
        
        </section>
            <!--AdFox START-->
<!--yandex_erdalkeskin6106-->
<!--Placement: kykyemeklistesi / * / *-->
<!--Banner type: 100%x100% Turbo-->
<!--Position: top of the page-->
<div id="adfox_173663303180681358"></div>
<script>
    window.yaContextCb.push(()=>{
        Ya.adfoxCode.create({
            ownerId: 11654074,
            containerId: 'adfox_173663303180681358',
            params: {
                pp: 'g',
                ps: 'irvl',
                p2: 'hukd'
            }
        })
    })
</script>

    </div>
</body>

</html>