@model List<Kykyemeklistesi.Models.Admin>

<h2>Admin Yönetimi</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Admin Adı</th>
            <th>Admin Rolü</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.AdminName</td>
                <td>@admin.AdminRole</td>
                <td>
                    <!-- Admini düzenleme ve silme butonları -->
                    <a href="@Url.Action("EditAdmin", new { id = admin.Id })">Düzenle</a> |
                    <a href="@Url.Action("DeleteAdmin", new { id = admin.Id })" onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AddAdmin")">Yeni Admin Ekle</a>
