    <!DOCTYPE html>
    <html lang="tr">

    <head>
        @RenderSection("MetaTags", required: false)

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
            content="KYK yemek listesi ile yurtlardaki öğrenciler için günlük yemek menülerini görüntüleyin. Sabah ve akşam yemeklerini takip edin, duyuruları kaçırmayın.">

        <meta name="keywords"
            content="KYK yemek listesi, KYK yemek menüsü, KYK sabah menüsü, KYK akşam menüsü, KYK İstanbul menüsü, 81 il KYK menüsü, 81 il içinde KYK yemek listesi, KYK yurt yemekleri, bugünkü yemek menüsü, öğrenci yemek listesi, güncel KYK menüsü, KYK beslenme, KYK kahvaltı menüsü, KYK akşam yemeği, KYK öğle yemeği, yurt yemek servisi, KYK menü, KYK yemek seçenekleri KYK yemek listesi, KYK sabah menüsü, KYK akşam menüsü, KYK Adana menüsü, KYK Adıyaman menüsü, KYK Afyonkarahisar menüsü, KYK Ağrı menüsü, KYK Aksaray menüsü, KYK Amasya menüsü, KYK Ankara menüsü, KYK Antalya menüsü, KYK Ardahan menüsü, KYK Artvin menüsü, KYK Aydın menüsü, KYK Balıkesir menüsü, KYK Bartın menüsü, KYK Batman menüsü, KYK Bayburt menüsü, KYK Bilecik menüsü, KYK Bingöl menüsü, KYK Bitlis menüsü, KYK Bolu menüsü, KYK Burdur menüsü, KYK Bursa menüsü, KYK Çanakkale menüsü, KYK Çankırı menüsü, KYK Çorum menüsü, KYK Denizli menüsü, KYK Diyarbakır menüsü, KYK Düzce menüsü, KYK Edirne menüsü, KYK Elazığ menüsü, KYK Erzincan menüsü, KYK Erzurum menüsü, KYK Eskişehir menüsü, KYK Gaziantep menüsü, KYK Giresun menüsü, KYK Gümüşhane menüsü, KYK Hakkari menüsü, KYK Hatay menüsü, KYK Iğdır menüsü, KYK Isparta menüsü, KYK İstanbul menüsü, KYK İzmir menüsü, KYK Kahramanmaraş menüsü, KYK Karabük menüsü, KYK Karaman menüsü, KYK Kars yemek menüsü, KYK Kastamonu menüsü, KYK Kayseri menüsü, KYK Kırıkkale yemek menüsü, KYK Kırklareli menüsü, KYK Kırşehir menüsü, KYK Kilis menüsü, KYK Kocaeli menüsü, KYK Konya menüsü, KYK Kütahya menüsü, KYK Malatya menüsü, KYK Manisa menüsü, KYK Mardin menüsü, KYK Mersin menüsü, KYK Muğla menüsü, KYK Muş menüsü, KYK Nevşehir menüsü, KYK Niğde menüsü, KYK Ordu menüsü, KYK Osmaniye menüsü, KYK Rize menüsü, KYK Sakarya menüsü, KYK Samsun menüsü, KYK Siirt menüsü, KYK Sinop menüsü, KYK Sivas menüsü, KYK Şanlıurfa menüsü, KYK Şırnak menüsü, KYK Tekirdağ menüsü, KYK Tokat menüsü, KYK Trabzon menüsü, KYK Tunceli menüsü, KYK Uşak menüsü, KYK Van menüsü, KYK Yalova menüsü, KYK Yozgat menüsü, KYK Zonguldak menüsü,Kyk bügün yemek listesi,kyk sabah menüsü,kyk akşam menüsü,kyk yemek">

        <meta name="google-adsense-account" content="ca-pub-5290089711270021">
        <title>@ViewData["Title"]KYK Yemek Menüsü - kykyemeklistesi.com.tr</title>
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fontawesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

        <link rel="canonical" href="https://www.kykyemeklistesi.com.tr/">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!--In the site <head>, add the loader code once-->
        <!-- Yandex.RTB -->
        <meta name="verify-admitad" content="cab80166e8" />
        <script>window.yaContextCb = window.yaContextCb || []</script>
        <script src="https://yandex.ru/ads/system/context.js" async></script>
        <meta name='impact-site-verification' value='611f25ec-1d6e-43d4-8ff5-5c5e90ae0ce4'>
        <meta name="mylead-verification" content="828eb615326a5b5e53db85797f3b41b3">

 
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="https://kykyemeklistesi.matomo.cloud/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src='https://cdn.matomo.cloud/kykyemeklistesi.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
 
<meta name="fo-verify" content="14ce4026-197f-43da-a729-dc169ac5d3af" />
 
    </head>

    <body>
        <header class="d-flex  flex-column">
            <nav class=" navbar navbar-expand-lg  w-100 navbar-light text-light border-bottom-0.5 box-shadow mb-1 m-0 p-0 align-items-center justify-content-center flex"
                style="background-color: #64B5F6;">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img class="rounded-circle" fetchpriority="low" src="~/images/Backgroundss.webp" alt="logo"
                            style="width: 85px; margin: 0.1px;">


                    </a>

                    <div class="affiliate-banner pt-2 d-md-block align-items-center justify-content-center   d-lg-none m-auto" style="width: 300px; height: 60px;">
  <a target="_blank" class="" 
     href="https://trk.udemy.com/gOYzjA">
    <img class="img-fluid"

         src="~/images/2.png"
         alt="Udemy Kurslarında %85 İndirim!">
  </a>
</div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButton"  aria-controls="navbarButton" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarButton">
                        <ul class="navbar-nav flex-grow-1 ms-auto">
                            <li class="nav-item mx-3">
                                <a class="nav-link text-light fw-semibold " asp-controller="Home" asp-action="Index">
                                    Ana
                                    Sayfa
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link text-light fw-semibold" asp-controller="Home"
                                asp-action="Bugunyemeklistesi">Bugünün Yemek Listesi</a>
                            </li>



                            <li class="nav-item mx-3">
                                <a class="nav-link text-light fw-semibold" asp-controller="Home" asp-action="SSS">SSS</a>
                            </li>

                        <li class="nav-item mx-3">
                            <a class="nav-link text-light fw-semibold" asp-controller="Home" asp-action="Static">İstatistik</a>
                        </li>

                        </ul>

                        <div class="loginregister d-flex flex-row">

                            @{
                                if (User.Identity.IsAuthenticated == false)
                                {

                                    <a href="@Url.Action("Login", "User")"
                                    class="btn userbutton btn-dark fw-light text-light me-2">Giriş Yap</a>

                                    <a href="@Url.Action("Register", "User")" class="btn btn-dark fw-light text-light me-4">
                                        Kayıt
                                        Ol
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "User")">
                                        <i class="fa-solid fa-user-gear user-panel text-dark fa-2x me-3"></i>
                                    </a>



                                    <a href="@Url.Action("Logout", "User")">
                                        <i class="fa-solid fa-right-from-bracket text-dark fa-2x me-2"></i>
                                    </a>
                                }
                            }






                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mx-0 px-0">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted d-flex">
            <div class="container-fluid position-sticky bottom-0" style="background-color: #64B5F6;">
                &copy; 2024 - Kykyemeklistesi -
                <a class="text-muted" asp-controller="Home" asp-action="Index" style="text-decoration: none;">
                    Ana Sayfa
                </a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


        <script src="~/js/site.js" asp-append-version="true"></script> 
        @await RenderSectionAsync("Scripts", required: false) 
    </body>

    </html>